<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mongoId %><br />
    <%= f.text_field :mongoId %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Zip' %><br />
    <%= f.file_field 'upload' %>
  </div>

    <div class="field">
      <%= f.label 'JSON' %><br />
      <%= f.file_field 'train' %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
