<h1>Listing submissions</h1>

<input id="filter" type="text" class="form-control" placeholder="Filter"/>

<table class="table table-stripped">
  <thead>
  <tr>
    <th>Mongoid</th>
    <th>Email</th>
    <th>Result</th>
    <th>Added</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td class="mongoid">
          <%= submission.mongoId.length == 17 ? '' : 'mass ' %><%= link_to submission.mongoId, submission %>
        </td>
        <td><%= submission.email %></td>
        <td><%= submission.result %></td>
        <td><%= submission.created_at %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', submission, class: 'btn btn-default' %>
            <%= link_to 'Destroy', submission, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Submission', new_submission_path, class: 'btn btn-default' %>
