<p id="notice"><%= notice %></p>
<div class="row">
  <p>
    <b>Mongoid:</b>
    <%= @submission.mongoId %>
  </p>

  <p>
    <b>Email:</b>
    <%= @submission.email %>
  </p>

  <p>
    <b>Result:</b>
    <%= @submission.result %>
  </p>

  <%= link_to 'Back', submissions_path, class: 'btn btn-default' %>
  <%= link_to 'Rerun', rerun_path(@submission), class: 'btn btn-primary'%>
  <%= link_to 'Destroy', @submission, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
</div>
</br>

<div class="panel panel-default">
  <div class="panel-heading">Description</div>
  <div class="panel-body">
    <% @description.each do |file| %>
        <div class="code_file">
          <b><%= file[:name] %></b>
          <pre><%=raw file[:content] %></pre>
        </div>

    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Files</div>
  <div class="panel-body">
    <% @files.each do |file| %>
        <div class="code_file">
          <b><%= file[:name] %></b>
          <pre><code class="python"><%=raw file[:content] %></code></pre>
        </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Output(stdout+stderr)</div>
  <pre><code class="python"><%= @submission.stdout %></code></pre>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Error explanation</div>
  <pre><code class="python"><%= @submission.stderr %></code></pre>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Log</div>
  <pre><code class="python"><%= @submission.log %></code></pre>
</div>

<link rel="stylesheet" href="/assets/styles/googlecode.css">
<script src="/assets/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>