<!DOCTYPE html>
<html>
<head>
  <title>Jailtester</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <script src="/assets/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="col-md-12">
      <%= yield %>
    </div>
</div>


</body>
</html>
